.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hoverboard {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* transform: perspective(100vw); */
    background: black;
    background-image: repeating-linear-gradient(rgb(9, 54, 97) 0 2px, transparent 1px 100%),
        repeating-linear-gradient(90deg, rgb(9, 54, 97) 0 2px, transparent 1px 100%);
    background-size: 100px 100px;
    animation-name: animate-background, three-dimensional-freaky;
    animation-duration: 1s, 7s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, forward;
    /* animation: animate-background linear 2s infinite; */
    z-index: -300;
    overflow: hidden;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

/* FIX-ME: stick to transform otherwise we are gonna have a bad time */
@keyframes animate-background {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 200px;
    }
}

@keyframes three-dimensional-freaky {
    0% {
        transform: perspective(100vw) rotateX(1deg);
    }
    100% {
        transform: perspective(100vw) rotateX(70deg);
    }
}
